@model IEnumerable<DormitoryManagement.Models.Room>

@{
    ViewBag.Title = "CheckBed";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<h2>CheckBed</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Floor.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoomNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoomGender)
        </th>
        <th></th>
    </tr>


    


</table>
