<div class="container" id="container-error">
    <h1>Error.</h1>
    <p class="text-danger">An error occurred while processing your request!</p>
    @Html.ActionLink("Back To Home", "", "Student", null, new { @class = "btn btn-primary" })

</div>